<phpunit bootstrap="./tests/phpunit.php">
    <testsuites>
        <testsuite>
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="functional">
            <file>./tests/PHPixieTests/ORM/FunctionalTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>