<phpunit bootstrap="./tests/phpunit.php">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
            <exclude>./tests/PHPixieTests/ORM/Functional</exclude>
            <exclude>./tests/PHPixieTests/ORM/Functional.php</exclude>
        </testsuite>
        <!--
            <testsuite name="functional">
                <directory>./tests/PHPixieTests/ORM/Functional</directory>
                <file>./tests/PHPixieTests/ORM/FunctionalTest.php</file>
            </testsuite>
        -->
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>